root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,csproj,props,targets}]
indent_size = 4

[*.{json,yml,yaml,xml}]
indent_size = 2

[*.cs]
# Using ordering is NOT auto-enforced per .rules (manual dependency-depth ordering)
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:warning
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = false:warning
csharp_prefer_braces = true:warning
csharp_style_expression_bodied_methods = when_on_single_line:warning
csharp_style_expression_bodied_properties = true:warning
csharp_style_expression_bodied_accessors = true:warning
csharp_new_line_before_open_brace = all:warning
csharp_new_line_before_else = true:warning
csharp_new_line_before_catch = true:warning
csharp_new_line_before_finally = true:warning
csharp_indent_case_contents = true:warning
csharp_indent_switch_labels = true:warning
dotnet_sort_system_directives_first = false
csharp_style_prefer_null_check_over_type_check = true:warning
csharp_style_prefer_method_group_conversion = true:warning
